section.main.css-1v3fvcr.egzxvld3 {
    border:0px solid #FF4B4B;
    padding: 5% 5% 5% 10%;
}

.css-1adrfps {
    
    padding: 8% 8% 8% 8%;
}

footer{
    visibility: hidden;
}

header{
    visibility: hidden;
}
